<!DOCTYPE html>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>.::. Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{%block encabezado%}
	<header>
		<div class="menu_bar">
			<a href="#" class="bt_menu"><span class ="icon-menu"></span>APOLO</a>
		
			<a href="#" class ="bt_login" data-toggle="modal" data-target=".bs-example-modal-sm"><span class = "icon-user"></span>Ingreso</a>
		</div>
		<nav>
			<ul>
				<li class = "li-figure"><figure><img src="/static/image/logo-apolo.png" alt=""></figure></li>
				<li class = "li-inicio"><a href="#"><span class="icon-home"></span>Inicio</a></li>
				<li class = "li-galeria"><a href="#"><span class="icon-images"></span>Galeria</a></li>
				<li class = "li-contacto"><a href="#"><span class="icon-phone"></span>Contacto</a></li>
				<li class = "li-space"></li>
				<li class = "li-login"><a href="#" class = "bt_login" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="icon-user"></span>Ingreso</a></li>
			</ul>
		</nav>
	</header>
{%endblock%}


	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
   				<div class="ingreso">
   					<span class= "icon-user "> INGRESO</span>
				</div>
				{%block contenido%}
				<form id="form_login" method="POST" action="" class="form-Login">{% csrf_token %}
					<table>
						{{form_login.username}}
						{{form_login.password}}
					</table>
						<input type="submit" value="Ingresar" class = "btn"/>	
				</form>
				{%endblock%}
			</div>
    	</div>
  	</div>



	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/static/js/menu.js"></script>
</body>
</html>